.navbar {
    background: #007AFF;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-left: 15px;
}

.nav-heading {
    font-size: 28px;
    font-weight: 500;
    padding-left: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.nav-right {
    padding-right: 15px;
}

.nav-left img {
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.checkbox-wrapper {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.label-left {
    margin-right: 16px;
}

select {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #0000003d;
}